/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

.markdown-preview.markdown-preview {
  .smalltable > table, .smalltable > th, .smalltable > td {
    font-size: 90%;
  }
  .SenmonEng {
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    @tfsize: 1.2em;
    pre, code {
      font-family: Consolas, Menlo, Monaco, -apple-system, BlinkMacSystemFont, "Segoe UI", Meiryo, monospace;
      white-space: pre-wrap;
      page-break-inside: auto;
    }
    h1 {
      font-size: 1.5em;
      border-width: 0 0 1px 0;
      text-align: center;
    }
    h2 {
      font-size: 1.3em;
    }
    h3 {
      font-size: 1.1em;
    }
    h4 {
      font-size: 0.9em;
    }
    h5 {
      font-size: 0.7em;
    }
    .cover {
      .author {
        text-align: center;
        font-size: @tfsize;
      }
      .advisor {
        text-align: center;
        font-size: @tfsize;
      }
      .submitday {
        text-align: center;
        font-size: @tfsize;
      }
    }
  }
  img[src*="#center"] {  
    display: block;  
    margin: auto;  
  }  
}
